

















/* creo que es de team  */

.icon__tarjetas {
  width: 20px;
  height: 20px;
  fill: var(--main--textSecundario);
  transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.icon__tarjetas:hover {
  width: 20px;
  height: 20px;
  fill: var(--main--textColor);
}















