/*  estilos para titulo y boton debajo del titulo segundo sectiom*/

.our-service {
    /* background-color: var(--main--backgraundSecundario); */

    background-image: linear-gradient(to bottom,
            rgba(47, 48, 58, 0.4),
            rgba(0, 0, 0, 0.4)),
        url("../images/fondo-index.png");


&__title {
    font-size: 44px;
    line-height: 60px;
   
    color: $main--textColor;
}

&__container {

   @include flexible;

}

&__text {
    
    color: $main--detail-color;
    display: flex;
    flex-direction: column;
    width: 515px;
}
}