
    $main--primaryColor: rgb(33, 150, 243);
    $main--secundario: rgb(33, 33, 33);
    $main--textColor: rgb(255, 255, 255);
    $main--backgraundSecundario: rgb(47, 48, 58);
    $main--textSecundario: rgb(117, 117, 117);
    $main--color--fondo--logos: rgb(245, 244, 250);
    $main--detail-color:rgb(33, 33, 33);

        
